.ProgressBar {
    background-color: #333333;
    height: 16px;
    border-radius: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}
